#rock, #paper, #scissors {
    position: fixed;
    width: 200px;
    height: 200px;
    text-align: center;
    top: 200px;
}
#paper {
    left: 375px;

}
#rock {
    left: 600px;
}
#scissors {
    left: 825px;
}
button {
    font-size: 30px;
    background: none;
    height: 200px;
    width: 200px;
    color: white;
}

.options{
  background-color: blue;

}

.score, .choice {
    position: fixed;
    line-height: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 150px;
    width: 200px;
    text-align: center;
}

.choice {
    font-size: 15px;
}

#pscore {
    background-color: lime;

    left: 450px;
}

#cscore {
    background-color: orangered;
    left: 675px;
}

#playerChoice {
    background-color: lime;

    left: 450px;
    top: 450px;
}

#computerChoice {
    background-color: orangered;
    left: 675px;
    top: 450px;
}

